body {
  margin: 0;
  background-color: #03a9f4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.player {
  font-size: 3vw;
  margin-top: 0px;
  padding-top: 100px;
  padding-left: 18vw;
  margin-bottom: 15vh;
}
.socoreBoard{
  font-size: 3vw;
  display: flex;
  position: relative;
  flex-direction: unset;
  align-content: center;
  justify-content: space-between;
  margin-left: 9vw;
  margin-right: 9vw;
  top: 51px;
}

.socoreBoard div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-container {
  margin: 0;
  background-color: #fafcfd3d;
  height: 100vh;
  width: 50vw;
  align-self: center;
  position: absolute;
  top: 0px;
}
.border-left, .border-left-only{
  border-left: 5px solid
}
.border-right, .border-right-only{
  border-right: 5px solid
}

.border-bottom, .border-right, .border-right, .border-left{
  border-bottom: 5px solid;
}

.border-top{
  border-top: 5px solid;
}
.game-bord {
  font-size: 5vw;
  width: 40vw;
  height: 60vh;
  align-self: center;
  text-align: center;
}
.game {
  display: flex;
  flex-direction: column;
}
